/* CSS declarations go here */
body
{
    font-family: sans-serif;
    font-size: 14px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 10px 0;

    color: #00fac4;
    background-color: #b3b3b3;
    background-attachment: fixed;
}

.container
{
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;

    background: white;
}

header
{
    position: relative;

    padding: 20px 15px 15px 15px;

    background: #00212f;
}

#login-buttons
{
    float: right;
}

h1
{
    font-size: 1.5em;

    display: inline-block;

    margin: 0;
    margin-right: 1em;
    margin-bottom: 10px;
}

form
{
    position: relative;

    margin-top: 10px;
    margin-bottom: -10px;
}

.new-task input
{
    font-size: 1em;

    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    padding-right: 80px;
    padding-left: 5px;

    color: #00fac4;
    border: none;
    border-bottom: 1px solid #00fac4;
    background: transparent;
}

.new-task input:focus
{
    outline: 0;
}

ul
{
    margin: 0;
    padding: 0 0 30px;

    background: #00212f;
}

.delete
{
    font-size: 1em;
    font-weight: bold;

    position: relative;

    float: right;

    color: #00fac4;
    border: none;
    background: none;
}

li
{
    position: relative;

    padding: 15px;

    list-style: none;
}

li .text
{
    margin-left: 10px;
}

li.checked
{
    color: #888;
}

li.checked .text
{
    text-decoration: line-through;
}

header .hide-completed
{
    display: block;
}

.toggle-private
{
    margin-left: 5px;
}

@media (max-width: 600px)
{
    li
    {
        padding: 12px 15px;
    }

    .search
    {
        clear: both;

        width: 150px;
    }

    .new-task input
    {
        padding-bottom: 5px;
    }
}
